<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string></string>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>快递查询</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气预报</string>
	</dict>
</array>
</plist>
